@import "tailwindcss";

@theme {
	/* Colors */
	--color-cream: #F9F8F4;
	--color-cream-dark: #f0efe9;
	--color-black: #111111;
	--color-gray-500: #666666;
	--color-gray-400: #999999;
	--color-green-light: #E3EBE6;
	--color-blue-light: #DCEBEF;
	--color-yellow-light: #FCEE4F;
	
	--font-sans: "Inter", sans-serif;
    
    --animate-spin-slow: spin 8s linear infinite;
}

body {
	background-color: var(--color-cream);
	color: var(--color-black);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.02em;
}

.text-balance {
	text-wrap: balance;
}
